/* General */

.tw-content { display:block; float:left; width:100%; padding:0.5em 0; }
.tabbed-widget { float:left; width:100%; border:none; } 


/* Accordion */

.ui-accordion { float:left; width:100%; margin:1em 0; }
.ui-accordion span.ui-icon { float:right; width:1.5em; height:1.25em; }
.ui-accordion .ui-state-active a { background:url('../images/onlight-accordion-open.png') no-repeat 100% 50%; color:#333; text-decoration:none; }
.ui-accordion .ui-state-default a { background:url('../images/onlight-accordion-closed.png') no-repeat 100% 50%; }
.ui-accordion .ui-accordion-header.ui-state-default:hover { cursor:pointer; text-decoration:underline!important; }
.ui-accordion .tw-title { margin:0; padding:0; float:left; width:100%; }
.ui-accordion .tw-title a { padding:0.5em 0; display:block; }


/* Tabbed  */

.ui-tabs-hide { display:none; }
.ui-state-active a { font-weight:bold; text-decoration:none; color:#333; }
.ui-tabs .ui-tabs-nav { float:left; width:100%; clear:both; margin:0; padding:0; }
.ui-tabs .ui-tabs-nav li { float:left; width:auto; margin-right:0.5em; }
.ui-tabs li.ui-tabs-selected a { background:#333; color:#fff; padding:0 0.25em; text-decoration:none; }


/* Default theme */

#sidebar ul.tw-tabbed-nav { margin:0; padding:0; }
#sidebar ul.tw-tabbed-nav li { background:none; display:block; list-style-image:none; margin-right:0.5em; }
#sidebar ul.tw-tabbed-nav a { padding:0.25em; }
#sidebar ul.tw-content { margin-left:0; padding-left:0; }
#sidebar ul.tw-tabbed-nav li:before { content:none; }